In [19]:
import os
import glob
import pandas as pd

In [16]:
classes = os.listdir('../data/raw/images/images')
print(classes)

['crease', 'crescent_gap', 'inclusion', 'oil_spot', 'punching_hole', 'rolled_pit', 'silk_spot', 'waist folding', 'water_spot', 'welding_line']

In [12]:
#Количество фото
image_path = glob.glob('../data/raw/images/images/*/*.jpg')
print(len(image_path))
print(image_path[0])

2306
../data/raw/images/images\crease\img_01_3436789500_00004.jpg

In [13]:
#Количество разметки
xmls_path = glob.glob('../data/raw/label/label/*.xml')
len(xmls_path)
print(xmls_path[0])

../data/raw/label/label\img_01_3402617700_00001.xml

In [17]:
#Распределение по классам
class_distr= {}
for val in classes:
    class_distr[val] = len(glob.glob(f'../data/raw/images/images/{val}/*.jpg'))

In [18]:
print(class_distr)

{'crease': 52, 'crescent_gap': 226, 'inclusion': 216, 'oil_spot': 204, 'punching_hole': 219, 'rolled_pit': 31, 'silk_spot': 650, 'waist folding': 146, 'water_spot': 289, 'welding_line': 273}

In [52]:
class_table = pd.DataFrame.from_dict(data=class_distr, orient='index', columns = ['Amount'])
class_table.loc['Total'] = class_table.sum(axis=0)

In [53]:
class_table

               Amount
crease             52
crescent_gap      226
inclusion         216
oil_spot          204
punching_hole     219
rolled_pit         31
silk_spot         650
waist folding     146
water_spot        289
welding_line      273
Total            2306